<thead>
  <tr>
    <th style="text-align: left; font-size: 20px;"><%= current_user.name %></th>
    <th style="text-align: right; font-size: 20px;"><%= user.name %></th>
  </tr>
</thead>
<% messages.each do |message| %>
  <% if message.user_id == current_user.id %>
    <tbody>
      <tr>
        <th>
          <p style="text-align: left;"><%= message.message %></p>
        </th>
        <th></th>
      </tr>
  <% else %>
    <tr>
      <th></th>
      <th>
        <p style="text-align: right;"><%= message.message %></p>
      </th>
    </tr>
  </tbody>
  <% end %>
<% end %>